@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Libre+Bodoni&family=Roboto&display=swap');
@font-face {
    font-family: "Averta CY", sans-serif;
    src: url(AvertaDemoPECuttedDemo-Regular);
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    font-family: "Averta CY", sans-serif;
}
::before,
::after {
  box-sizing: border-box;
 }
body{
    background-color: rgb(240, 245, 250);
    overflow: hidden;
}
.home-container{
    display: flex;
    position: relative;
}
/* sidebar */
.sidebar{
    position: fixed;
    width: 250px ;
    height: 100%;
}
.logo{
    width: 60px;
    margin: 15px;
    cursor: pointer;
}
ul{
    margin: 0 20px;
}
.links{
    margin: 25px 0;
}
li a{
    color: rgb(2, 30, 69);
}
li a:active{
    color: rgb(32, 81, 255)
}
  .links .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: rgb(229, 228, 226);
    color: rgb(20, 20, 20);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

   .links:hover .tooltip {
    visibility: visible;
  }

  .clock{
    margin: 70% 10px 0 10px;
  }

  #clock-desc{
    margin:0 10px;
  }

  .menu{
    border:none;
    font-size: 30px;
    visibility: hidden;
    background-color: transparent;
    color: rgb(2, 30, 69);
  }

  /* main content */
 .main{
    width: 100%;
    margin-left:20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 60px;
    padding-bottom: 25px;
}
.header .first, .header .second{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center; 
}
.first{
    margin-left: 60px;
}
.header .second{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center; 
    margin-right: 20px;
}
.admin-pic{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid rgb(2, 30, 69);
} 
.header-line{
    height:1.5px;
    background-color: rgba(2, 30, 69, 0.8);
    border:  rgba(2, 30, 69, 0.8);
}
main{
    width: 100%;
    margin-left:50px;
    height:100vh;
    background-color: rgb(229, 228, 226);
    border-radius: 25px 0 0 0;
    position:relative;
    padding: 12px;
}

.container{
    position: absolute;
    top:40%;
    left:55%;
    transform: translate(-60%, -45%);
    background-color: rgb(240, 245, 250);
    width: 70%;
    height: fit-content;
    border-radius: 25px;
}

.container h5{
    padding: 16px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto, auto, auto;
    gap: 30px;
    background-color: rgb(240, 245, 250);
    height: 70%;
    width: 80%;
    padding: 10px 0;
}
.grid .user-pic{
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
}

.grid .form1{
    grid-column: 2 / 3;
    padding:0 10px;
} 

.grid .form2{
    grid-column: 3 / 4;
    padding:0 10px;
}

/* form */
.form-container{
    padding: 15px 10px;
}
input, select{
    width:100%;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgb(2, 30, 69)
}
label{
    font-size: 0.8rem;
}

div{
    margin: 8px auto 0 auto;
}

input[type=submit]{
    margin: 12px auto;
    width: 50%;
    font-size: 1rem;
    background-color: rgb(1, 82, 213);
    padding: 6px;
    display: flex;
    justify-content: center;
    color:rgb(240, 245, 250);
    font-weight: bolder;
    cursor:pointer;
    border:none;
}

input[type=submit]:hover{
    background-color: rgb(2, 30, 69);
}

/* rgb(0, 196, 246); */

textarea{
    width: 100%;
    word-break: keep-all;
    border-radius: 5px;
    border: 1px solid rgb(2, 30, 69)
}

/* .image{
    border:none;
    border-radius: 50%;
    padding: 30px;
    background-color: rgb(229, 228, 226);
}


 */
 .wrapper {
    display: flex;
    justify-content: center;
    border:none;
    border-radius: 50%;
    padding: 40px;
    background-color: rgb(229, 228, 226);
    margin-top: -70px;
}

 .content {
    position: relative;
    width: 70px;
    
}

 .content img {
    display: block;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border:1px solid rgb(2, 30, 69);

}
 .content .fa-camera {
    position: absolute;
    bottom:0;
    right:0;
    color: rgb(2, 30, 69)
}

@media only screen and (max-width: 1024px){
    .header .first, .header .second{
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 768px){
*{
     overflow-y:hidden;
}
header{
    overflow: hidden;
}
.grid{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 50%, 50%, 50%;
    gap:0;
}
.grid .user-pic{
    grid-column: 1/-1;
    grid-row: 1 / 2;
}
.grid .form1{
    grid-column: 1/-1;
    grid-row: 2 / 3;
}
.grid .form2{
    grid-column: 1/-1;
    grid-row: 3 / 4;
}
.container{
    height: auto;
    margin-top: 35%
}
main{
    overflow-y: scroll;
}

.wrapper {
    margin-top: 0;
}
main h5{
    visibility: hidden;
}

.container h5{
    visibility: inherit;
}
}


@media only screen and (max-width: 600px){
    .menu{
        visibility:visible;
        margin: 30px 0 0 0;
        z-index: 1;
    }
    ul{
        visibility: hidden ;
        transition: 0.3s;
        margin: 0 35px
    }
    .show-links{
        visibility:visible;
    }
    .clock{
       visibility: hidden;
      }
      .header .first, .header .second{
        display: flex;
        justify-content: space-evenly;
        gap: 8px;
        align-items: center; 
        font-size: 0.9rem;
    }

    .header .first{
        margin-left: 80px;
    }

    .sidebar{
        background-color:transparent;
        z-index: 1;
    }
    main{
        width: 100%;
        margin:0;
        overflow: scroll;
    }
   
    .container{
        height: auto;
        margin-top: 50%;
        z-index: 1;
    }


    .logo{
        width: 60px;
        margin: 20px 10px;
    }
}